body {
    background-color: var(--black);
    font-size: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
* {
    --white: #ffffff;
    --black: #000000;
    --blue: #00A99D;
    --gray: #707070;
    --gray-dark: #1a1a1a;
}
*::selection {
    background-color: var(--blue);
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 10;
    transition: .3s;
}
header .container {
    position: relative;
    z-index: 1;
}
header .navbar-brand {
    width: 90px;
    transition: .3s;
}
header .navbar-brand img {
    width: 100%;
}
header .navbar-light .navbar-toggler {
    background-color: var(--black);
    border-color: var(--blue);
    outline: none;
}
header .navbar-light .navbar-toggler:focus {
    outline: none;
}
header .navbar-light .navbar-toggler i {
    font-size: 1.25em;
    color: var(--blue);
}
header .navbar-nav {
    padding: 1.25em 0 1em;
}
header .navbar-nav .nav-item {
    padding-left: 1em;
}
header .navbar-nav .nav-item .nav-link {
    font-size: .875em;
    color: var(--white);
    font-weight: 300;
    transition: .3s;
}
header .navbar-nav .nav-item .nav-link:hover {
    color: var(--blue);
}
header .navbar-nav .nav-item .nav-link:focus {
    color: var(--white);
}
header.menu-active {
    background-color: var(--black);
}
header.menu-active .navbar-light .navbar-toggler i:before {
    content: "\f00d";
}
header.head-change {
    background-color: var(--black);
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}
header.head-change .navbar-brand {
    width: 50px;
}
header.head-change .navbar-light .navbar-toggler i {
    font-size: .875em;
}

.titles {
    display: flex;
    justify-content: center;
    margin: 0 0 3em;
}
.titles h1 {
    position: relative;
    margin: 0;
    padding: 0 0 .5em;
    font-size: 2.25em;
    font-weight: 700;
}
.titles h1:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    margin: auto;
    background-color: var(--blue);
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,169,157);
    background: linear-gradient(19deg, rgba(0,169,157,0.7973564425770308) 0%, rgba(0,0,0,1) 70%);
    /* background-image: url('../img/bg-intro.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-intro .bg-intro-content {
    position: relative;
    text-align: center;
}
.bg-intro .bg-intro-content .circle-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 10px solid var(--blue);
    border-radius: 100%;
    overflow: hidden;
}
.bg-intro .bg-intro-content .circle-img img {
    width: 100%;
}
.bg-intro .bg-intro-content h1 {
    padding: .5em 0 0;
    font-size: 1.85em;
    color: var(--white);
    font-weight: 700;
}
.bg-intro .bg-intro-content h2 {
    font-size: 1.25em;
    color: var(--white);
    font-weight: 300;
}
.bg-intro .bg-intro-content .btn-intro {
    display: inline-block;
    width: 180px;
    height: 45px;
    margin: 1.25em 0 0;
    background: var(--blue);
    border: none;
    border-radius: 50px;
    font-size: 1.125em;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    transition: .3s;
}
.bg-intro .bg-intro-content .btn-intro:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
    transform: translate(0,-5px);
}

.about {
    padding: 3.5em 0 2em;
    background-color: var(--black);
}
.about p {
    font-size: 1em;
    color: var(--white);
    font-weight: 300;
}

.experiencia {
    padding: 2em 0;
    background-color: var(--gray-dark);
}
.experiencia .box-experienciaxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experiencia .box-experienciaxs i {
    display: block;
    font-size: 8em;
    color: var(--blue);
}
.experiencia .box-experienciaxs h2 {
    padding: 1em 0 0;
    font-size: 1.5em;
}
.experiencia .experiencialg .box {
    min-width: 280px;
    text-align: center;
}
.experiencia .experiencialg .box i {
    display: block;
    font-size: 8em;
    color: var(--blue);
}
.experiencia .experiencialg .box h2 {
    padding: 1em 0 0;
    font-size: 1.5em;  
}

.trabajos {
    padding: 2em 0;
}

footer {
    background-color: var(--black);
    padding: 2em 0 3.5em;
}
footer .logo-footer {
    display: flex;
    justify-content: center;
}
footer .logo-footer a {
    display: block;
    width: 95px;
}
footer .logo-footer a img {
   width: 100%;
}

@media (max-width: 991px) {
    .experiencia .experiencialg .box {
        min-width: 180px;
    }
    .experiencia .experiencialg .box h2 {
        font-size: 1.25em;
    }
}

@media (min-width: 769px) {
    header .navbar-nav {
        padding: 0;
    }
    .bg-intro .bg-intro-content .circle-img {
        width: 350px;
        height: 350px;
    }
    .bg-intro .bg-intro-content h1 {
        font-size: 2.75em;
    }
    .bg-intro .bg-intro-content h2 {
        font-size: 1.5em;
    }
    .about {
        padding: 5em 0;
    }
    .about p {
        font-size: 1.125em;
    }
    .experiencia {
        padding: 5em 0 7em;
    }
    .trabajos {
        padding: 5em 0;
    }
}
