body {
    background-color: var(--black);
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
* {
    --white: #ffffff;
    --black: #000000;
    --blue: #00A99D;
    --gray: #707070;
}
header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: .5s;
}
header .container {
    position: relative;
    z-index: 1;
}
header .navbar-brand {
    width: 132px;
}
header .navbar-brand img {
    width: 70px;
}
header .navbar-light .navbar-toggler {
    border-color: var(--blue);
    outline: none;
}
header .navbar-light .navbar-toggler:focus {
    outline: none;
}
header .navbar-light .navbar-toggler i {
    font-size: 1.25em;
    color: var(--blue);
}
header .navbar-nav {
    padding: 1.25em 0 1em;
}
header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}
header.menu-active {
    background-color: var(--black);
}
header.menu-active .navbar-light .navbar-toggler i:before {
    content: "\f00d";
}
header.gradient:after {
    opacity: 1;
}

.bg-intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/bg-intro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-intro .bg-intro-content {
    text-align: center;
}
.bg-intro .bg-intro-content .circle-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 10px solid var(--blue);
    border-radius: 100%;
    overflow: hidden;
}
.bg-intro .bg-intro-content .circle-img img {
    width: 100%;
}
.bg-intro .bg-intro-content h1 {
    padding: 1em 0 0;
    font-size: 1.75em;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
}
.bg-intro .bg-intro-content h2 {
    font-size: 1.125em;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
}

.content {
    padding-top: 4.5em;
    padding-bottom: 2em;
}

footer {
    background-color: var(--black);
    padding: 2em 0 3.5em;
}
footer .logo-footer {
    display: flex;
    justify-content: center;
}
footer .logo-footer a {
    display: block;
    width: 95px;
}
footer .logo-footer a img {
   width: 100%;
}

@media (min-width: 767px) {
    header .navbar-nav {
        padding: 0;
    }
    .bg-intro .bg-intro-content .circle-img {
        width: 400px;
        height: 400px;
    }
    .bg-intro .bg-intro-content h1 {
        font-size: 2.75em;
    }
    .bg-intro .bg-intro-content h2 {
        font-size: 1.5em;
    }
}
